body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0
}

p {
  font-size: larger;
  text-align: center;
}

main {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100dvh;

  padding: 1rem;
}

.screen {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  h2 {
    margin-block-end: 1rem;
  }

  p {
    margin-block-end: 1rem;
  }
}

h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-block-end: .75rem;
}

.top {
  display: grid;
  grid-template-columns: repeat(12, 1fr);

  h1 {
    grid-column: span 12;
  }

  h2 {
    margin-block-end: 0.75rem;
  }

  aside {
    grid-column: span 12;
    line-height: 150%;
  }

  @media (width >= 540px) {
    h1 {
      grid-column: span 3;
    }

    aside {
      grid-column: span 9;
    }
  }
}

.actions {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-content: center;
  gap: 1rem;

  @media (width > 700px) {
    grid-template-columns: repeat(3, 1fr);
  }
}

button {
  background-color: white;
  border: 1px solid black;
  border-radius: 0.5rem;
  padding: 1rem;
  font-size: 1.125rem;
}

footer#debug {
  grid-template-columns: 1fr 2fr;
  padding-inline: 1rem;
  margin-block-end: 2rem;
  row-gap: .5rem;

  &:not(.hidden) {
    display: grid;
  }

  & > div {
    display: grid;
    grid-template-columns: subgrid;
    grid-column: span 2;

    label {
      grid-column: 1;
    }

    input {
      grid-column: 2;
    }
  }
}

.hidden {
  display: none;
}