img {
  border-radius: 2rem;
  width: 100%;

  &.preview {
    max-height: 200px;
    border-radius: 1.5rem;
  }

  &.cover {
    object-fit: cover;

    &.top {
      object-position: top;
    }
  }
}


.rotated {
  transform: rotate(3deg);
}