a {
  &.btn {
    background-color: white;
    border: 1px solid lightgray;
    border-radius: 8rem;

    padding: 1rem 2rem;
    box-sizing: border-box;

    font-weight: bold;

    &.primary {
      background: rgb(31 189 83);
      color: white;
      border-color: rgb(31 189 83);
    }
  }

  &.full {
    width: 100%;
    display: inline-block;
    text-align: center;
  }
}